<h1>Listing credit_card_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @credit_card_types.each do |credit_card_type| %>
  <tr>
    <td><%= credit_card_type.name %></td>
    <td><%= link_to 'Show', credit_card_type %></td>
    <td><%= link_to 'Edit', edit_credit_card_type_path(credit_card_type) %></td>
    <td><%= link_to 'Destroy', credit_card_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Credit card type', new_credit_card_type_path %>
