<h2>Thank You For Your Purchase</h2>
<p>Please Print A Copy Of This Receipt For Your Records.</p>
  <div class="rounded_box">
    <table id="table" border="0" cellspacing="0" cellpadding="0"> 
      <tr> 
        <th>Course/Registrant</th> 
    	<th>Dates</th> 
    	<th class="center_text">Status</th> 
    	<th>Total</th> 
      </tr> 
      <% @order.order_items.each do |item| %>
        <tr> 
	      <td class="header"> 
	        <h3>
	          <%=item.course.title%><br>
	      	  <%=item.registrant.first_name.capitalize%>
		      <%=item.registrant.last_name.capitalize%><br>
		      <%=item.registrant.email%><br>
	        </h3> 
	      </td> 
	      <td> 
	        <%=item.course_date.start_date.strftime("%a %b %d, %Y")%> - <%=item.course_date.end_date.strftime("%a %b %d, %Y")%>
	      </td> 	
	      <td>
	        <% if item.is_purchaseorder.present? %>
  	          Check/PO# <%=item.po_number%>
  	        <% end %>
	        <% if item.is_www.present? %>
              PAID
  	        <% end %>
	      </td>
	      <td><%=format_price(item.course.price) %></td>

    	</tr> 
      <%end%>
  
      <tr> 
        <td></td> 
    	<td></td> 
    	<td align="right"><h3 class="total">Total</h3></td> 
    	<td><h3 class="total"><%=format_price(@total)%></h3></td> 
      </tr> 
    </table>
  </div>
<div style="clear:both">&nbsp;</div>
<h2>Billing Information</h2>
<p><strong>Contact:</strong> <%= "#{@order.first_name} #{@order.last_name}"%></p>
<p><strong>Address:</strong> <%= "#{@order.address} #{@order.city}, #{State.where(:id=>@order.state_id).first.name} #{@order.zip}".html_safe %></p>
<p><strong>Email:</strong> <%= "#{@order.email}"%></p>
<p><strong>Phone:</strong> <%= "#{@order.phone}"%></p>