		<p>
			<label for="">Contact Name</label><br>
			<%=@on_site_training.name%><br>
		</p>
		<p>
			<label for="">Company Name</label><br>
			<%=@on_site_training.company%><br>
		</p>
		<p>
			<label for="">Email</label><br>
			<%=@on_site_training.email%><br>
		</p>
		<p>
			<label for="">Address</label><br>
			<%=@on_site_training.address%><br>
		</p>
		<p style="float:left; width:120px">
			<label for="">City</label><br>
			<%=@on_site_training.city%><br>
		</p>
		<p style="float:left; width:120px">
			<label for="">State</label><br>
			<%=@on_site_training.state%><br>
		</p>
		<p style="float:left; width:120px">
			<label for="">Zip</label><br>
			<%=@on_site_training.zip%><br>
		</p>
		<p style="float:left; clear:both; width:220px">
			<label for="">Telephone</label><br>
			<%=@on_site_training.phone%><br>
		</p>
		<p style="float:left; width:220px">
			<label for="">Fax</label><br>
			<%=@on_site_training.fax%><br>
		</p>
		<p style="clear:both"><h3>Class Information</h3></p>
		<p>
			<label for="">Name of Class </label><br>
			<%=@on_site_training.name_of_class%><br>
		</p>
		<p>
			<label for="">Location of Training</label><br>
			<%=@on_site_training.location_of_training%><br>
		</p>
		<p>
			<label for="">Number of Students</label><br>
		    <%=@on_site_training.number_of_students%><br>
		</p>
		<p>
			<label for="">Dates of Training</label><br>
			<%=@on_site_training.dates_of_training%><br>
		</p>
		<p>
			<label for="">Billing Address</label><br>
			<%=@on_site_training.billing_address%><br>
		</p>


