<%= form_for(@course_registrant) do |f| %>
  <% if @course_registrant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_registrant.errors.count, "error") %> prohibited this course_registrant from being saved:</h2>

      <ul>
      <% @course_registrant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course_id %><br />
    <%= f.text_field :course_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :registration_date %><br />
    <%= f.date_select :registration_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
