<%= form_for @course_date, :remote => true do |f| %>
  <% if @course_date.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @course_date.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date, :class=>"text", :start_year => Date.today.year, :order => [:month, :day, :year] %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date, :start_year => Date.today.year, :order => [:month, :day, :year] %>
  </p>
  <p>
    <%= f.label :class_size %><br />
    <%= f.text_field :class_size %>
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
