	<div id="large_table" >
	<div id="header_bg" >
		<div id="tabs">
			<ul>
					<li><a href="#tabs-1">Registrants</a></li>
					<li><a href="#tabs-2">Waiting</a></li>
			</ul>
<div id="tabs-1">
<table colspan="3" class="zebra"  >
	<tr class="header">
		<th>Name</th>
		<th >Email </th>
		<th >Phone Number</th>
		<th>Remove</th>
	</tr>
	<%for course_registrant in @course.course_registrants.paid.paginate(:per_page=>10, :page=>params[:page])%>
	<tr>
		<td><%=course_registrant.user.name%></td>
		<td><%=course_registrant.user.email%></td>
		<td><%=course_registrant.user.phone%></td>
		<td><%= link_to 'Remove', course_registrant, :confirm => 'Are you sure?', :method => :delete %></td>
		
	</tr>
	<%end%>

</table>
<%=will_paginate @course.course_registrants.paid.paginate(:per_page=>10, :page=>params[:page])%>
</div> <!-- end tabs 1-->

<div id="tabs-2">
	<table colspan="3" class="zebra"  >
		<tr class="header">
			<th>Name</th>
			<th >Email </th>
			<th >Phone Number</th>
			<th>Remove</th>

		</tr>
		<%for course_registrant in @course.course_registrants.waiting.paginate(:per_page=>10, :page=>params[:page])%>
		<tr>
			<td><%=course_registrant.user.name%></td>
			<td><%=course_registrant.user.email%></td>
			<td><%=course_registrant.user.phone%></td>
			<td><%= link_to 'Remove', course_registrant, :confirm => 'Are you sure?', :method => :delete %></td>
		</tr>
		<%end%>
		

	</table>
	<%=will_paginate @course.course_registrants.waiting.paginate(:per_page=>10, :page=>params[:page])%>
	
</div>

</div><!-- end tabs-->
</div><!-- end header bg-->
<div class="footer"></div>
</div><!-- end large table-->

	<h2 style="margin-top:10px">Course Assets</h2>
	<p>If you have any PDF’s or documents that are required for this class please use the form below to uploate them</p>
	
	<% if @course_asset.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@course_asset.errors.count, "error") %> prohibited this user from being saved:</h2>

	      <ul>
	      <% @course_asset.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	
	
	<%=form_for (@course_asset, :html => { :multipart => true}, :url=>"/instructors/course/#{@course.id}") do |f|%>
	
	<div id="asset_box">
		<p>
			<!--<input type="text" class="text" name="some_name" value="File you would like to upload" id="some_name">
			<input type="button" name="some_name" value="Browse" class="browse" id="some_name">
			<input type="button" name="some_name" value="Upload" class="upload" id="some_name">-->
			<%= f.file_field :asset %>
		</p>
		<p><h3>Document Description</h3></p>
		<p><%= f.text_field :title, :style=>"width:200px;", :class=>"text", :id=>"some_name"%></p>
		<p>
			<%= f.ckeditor_textarea :description, :class=>"textarea", :rows=>"10", :cols=>"30" %>
		</p>
		<input type="submit" name="some_name" value="" id="submit_btn">
	</div><!-- end asset_box-->

	<%end%>
	
	
	<div id="large_table">
	<div id="header_bg">
	<table colspan="4" class="zebra"  >
		<tr class="header">
			<th>Asset Title</th>
			<th>Asset Filename</th>
			
			<th width="125px">Download</th>
			<th width="85px">Delete</th>
		</tr>
		<%for asset in @course.course_assets%>
		<tr>
			<td><%=asset.title%></td>
			<td><%=asset.asset_file_name%></td>
			
			
			<td><a href="<%=asset.asset.url%>">Download</a></td>
			<td class="small"><%= link_to 'Delete', asset, :confirm => 'Are you sure?', :method => :delete, :class=>"delete_btn" %></td>
			
		</tr>
		<%end%>

	</table>
	</div>
	<div class="footer"></div>
	</div>
	
